@model SistemaDAP.Models.orden_trabajo_cabecera

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>orden_trabajo_cabecera</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fecha_orden_trabajo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_orden_trabajo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cliente.ci_ruc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cliente.ci_ruc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.presupuesto_cabecera.id_presupuesto_cabecera)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.presupuesto_cabecera.id_presupuesto_cabecera)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
