@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hola " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Cerrar sesión</a></li>
    </ul>

        <div class="container">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Mantenimientos <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("País", "Index", "pais")</li>
                            @*<li>@Html.ActionLink("Departamento", "Index", "departamento")</li>
                            <li>@Html.ActionLink("Ciudad", "Index", "pais")</li>*@
                            <li class="divider"></li>
                            <li>@Html.ActionLink("Cargo", "Index", "cargo")</li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("Tipo Servicio", "Index", "tipo_servicio")</li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("Banco", "Index", "banco")</li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("Tipo Artículo", "Index", "tipo_articulo")</li>
                            <li>@Html.ActionLink("Tipo Herramienta", "Index", "tipo_herramienta")</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    }
}
else
{
        <ul class="nav navbar-nav navbar-right">
            <li>@Html.ActionLink("Registrarse", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
            <li>@Html.ActionLink("Iniciar sesión", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        </ul>
        }
