@model SistemaDAP.Models.cliente

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>cliente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre_razon_social_cliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre_razon_social_cliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.direccion_cliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.direccion_cliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefono_cliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefono_cliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email_cliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email_cliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ci_ruc_cliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ci_ruc_cliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_nacimiento_cliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_nacimiento_cliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sexo_cliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sexo_cliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ciudad.descripcion_ciudad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ciudad.descripcion_ciudad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.departamento.descripcion_departamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.departamento.descripcion_departamento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pais.descripcion_pais)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pais.descripcion_pais)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_cliente }) |
    @Html.ActionLink("Back to List", "Index")
</p>
