@model IEnumerable<SistemaDAP.Models.permiso_rol>

@{
    ViewBag.Title = "Index";
}

<h2>Permisos</h2>

<p>
    @Html.ActionLink("Registrar Nuevo Permiso", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.controlador)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.accion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.roles)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.controlador)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.accion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.roles)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.id_permiso_rol }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.id_permiso_rol }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.id_permiso_rol })
        </td>
    </tr>
}

</table>