@model SistemaDAP.Models.impuesto

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>impuesto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.porcentaje)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.porcentaje)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_iva }) |
    @Html.ActionLink("Back to List", "Index")
</p>
