@model SistemaDAP.Models.articulo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>articulo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.precio_venta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.precio_venta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cantidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cantidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.precio_costo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.precio_costo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tipo_articulo.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipo_articulo.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.grupo.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.grupo.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.impuesto.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.impuesto.descripcion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_articulo }) |
    @Html.ActionLink("Back to List", "Index")
</p>
